@import '~@andes/form/index';
@import '~@andes/textfield/index';
@import '~@andes/button/index';
@import '~@andes/message/index';
@import '~@andes/tabs/index';
@import '~@andes/checkbox/index';
@import '~odin-addons/ui/ReactTable/styles';

.icon-table{
  color: dodgerblue;
  cursor: pointer;
}
.icon-margin-left{
  margin-left: 15px;
}