.error {
  color: #f04449;
  font-weight: 600;
  opacity: 1;
  font-size: 14px;
  line-height: 1em;
  transition: opacity 150ms ease-out;
  font-family: "Proxima Nova", -apple-system, "Helvetica Neue", Helvetica, "Roboto", Arial, sans-serif;
}
